<center>
<h2><%= "#{@user.username} is following:" %></h2>

<ul>
<% @following.each do |following| %>
  <%= image_tag following.avatar.url(:real_small), class:"avater" %>  <%= link_to following.username, user_path(following) %><br><br>
<% end %>
</ul>

</center>
