<center>
<h2><%= "#{@user.username} is followed by:" %></h2>

<ul>
<% @followers.each do |follower| %>
  <%= link_to image_tag(follower.avatar.url(:real_small), class:"avater"), user_path(follower) %> <br> <b><%= link_to follower.username, user_path(follower) %><b><br><br>
<% end %>
</ul>

</center>
