<center>
<h2><%= "#{@user.username} is followed by:" %></h2>

<ul>
<% @followers.each do |follower| %>
  <%= image_tag follower.avatar.url(:real_small), class:"avater" %> <br> <b><%= link_to follower.username, user_path(follower) %><b><br><br>
<% end %>
</ul>

</center>
