<center><h1>Search for Users</h1></center>
<center><%= form_tag(users_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search People" %>
    <%= submit_tag "Search" %>
<% end %></center>
