<center>
  <%= link_to "All users", users_path %>
   <% @posts.each do |post| %>
      <h2><%= link_to @users.find(post.user_id).username, user_path(post.user_id) %> | Following | Followers</h2>
      <%= post.caption %><br><br>
      <%= post.picture %><br><br>
  <% end %>
</center>
